body{
  margin: 0;
}

/*Navigation Section*/
.navigation {
  align-items: start;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  background-color: white;
  border-bottom: 0.2px outset white;
  z-index: 9; 
}

.logo {
  width: 300px;
  height: 100px;
  display: flex;
  align-items: center;
}

.nav {
  flex: 1;
  
}
.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  position: relative;
  margin-top: 20px;
}

.nav-links ul li a {
  text-decoration: none;
  padding: 20px;
  font-size: 14px;
  color: black;
  font-weight: 700;
}

.nav-links ul li a:hover {
  color: grey;
}

.login {
  background-color: white;
  border-color: rgb(224, 221, 221);
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
}

.open {
  background-color: #FDDD32;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.32);
}
.logo-img {
  margin: 30px 15px 15px 80px;
  width: 40px;
  height: 40px;
}

/*Intro Section*/
.intro {
  background-color: white;
  display: flex;
  height: 500px;
  flex-wrap: wrap;
  margin-bottom: 200px;
}

.b-loan {
  background-color: #F0F8EF;
  color: #344B9B;
  border: none;
  padding: 8px;
  border-radius: 2px;
  margin-top: 60px;
}

#head1 {
  font-size: 68px;
  font-weight: 900;
  line-height: 55px;
  color: #232323;
  flex: 100%;
  margin: 0%;
  margin-top: 30px;
}

.intro-text {
  color: grey;
  flex: 40%;
  padding: 50px 0px 10px 0px;
  padding-left: 90px;
  position: relative
  
}

.handshake {
  padding-top: 50px;
  flex: 40%;
  margin-top: 30px;
  position: relative;
}

.btn-apply {
  display: block;
  width: 20%;
  height: 20px;
  padding: 14px 26px;
  background-color: #FDDD32;
  border: none;
  border-radius: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  transition: opacity 0.15s;
  text-decoration: none;
  cursor: pointer;
  margin-top: 30px;
}

.btn-apply:hover {
  background-color: black;
  color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}
.btn-apply:active {
  opacity: 0.6;
}

.btn-apply:hover {
  background-color: grey;
}

.loan-calc1 {
  margin-left: 600px;
  margin-top: -120px;
  width: 250px;
  height: 200px;
  border: 1px solid white;
  border-bottom: outset white;
  border-radius: 20px;
  background-color: white;
  padding: 20px;
  gap: 10px;
  z-index: 0;
}

.label {
  color: #C4C9D5;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.input {
  width: 30px;
  height: 20px;
  margin-left: 20px;
}



.other-calc{
  display: flex;
  flex-direction: row;
  width: 400px;
  gap: 10px;
}

.loan-input1 {
  margin-top: 0.2rem;
  width: 300px;
  display: flex;
  flex-direction: row;
  padding: 0.1rem 0.1rem;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid rgb(194, 191, 191);
}

.calc {
  width: 300px;
}
.loan-input2 {
  margin-top: 0.2rem;
  display: flex;
  padding: 0.1rem 0.1rem;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid rgb(194, 191, 191);
}

.text1 {
  width: 50%;
  margin-left: 2px;
  border: none;
}

.text2 {
  width: 70%;
  border: none;
  margin-left: 2px;
}
/*Data Section*/
.analytics {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #3355FD;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

.analytics-data {
  text-align: center;
  line-height: 10px;
}
.data-header {
  font-size: xx-large;
}

/*Why Choose Us Section*/
.why {
  text-align: center;
  line-height: 18px;
}

.why-h {
  font-size: xx-large;
}

.why-grid {
  display: grid;
  grid-template-columns: 90px 1fr;
  border: 1px solid rgb(14, 100, 14);
  margin: 20px;
  border-radius: 8px;
}

.why-us {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 200px;
  margin-right: 200px;
}

.info-header {
  font-weight: bold;
  font-size: x-large;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 100px;
  padding: 16px;
}

.icon-image {
  width: 50px;
}

/*Our Products Section*/
.our-products {
  font-size: xx-large;
  text-align: center;
}

.ourproducts {
  display: flex;
  align-items: center;
  justify-content: center;
}

.products {
  margin: 20px;
  margin-top: 40px;
  width: 300px;
  height: 250px;
  display: flexbox;
  flex-direction: row;
  text-align: center;
  padding: 30px;
  border-radius: 8px;
  border: 1px solid rgba(240, 241, 243, 0.40);
}

#products-header {
  font-weight: bold;
  font-size: larger;
}
.get-loan {
  width: 230px;
  height: 30px;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.08);
  font-weight: 700;
}

.see-more-btn {
  display: grid;
  justify-content: center;
}

.see-more {
  width: 280px;
  height: 30px;
  margin-bottom: 20px;
  border: none;
  background-color: white;
  font-weight: 700;
}

.products-icon {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

/*Our Services Section*/
.our-services {
  font-size: xx-large;
  text-align: center;
}

.ourservices {
  display: flex;
  flex-direction: row;
  gap: 250px;
}

.services {
  background-color: #E99E0E;
  margin: 10px;
  padding: 20px;
  color: white;
  border-radius: 5px;
  
}

#services-header {
  font-weight: bold;
  font-size: larger;
}

.image {
  width: 280px;
  height: 170px;
}

.benefits {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.benefits-image {
  width: 500px;
}

.benefits-button {
  width: 400px;
  height: 60px;
  background-color: #3355FD;
  color: white;
  font-size: 20px;
  margin-bottom: 30px;
  border-radius: 5px;
  border: none;
}
/*How It Works Section*/
.how-it-works {
  font-size: xx-large;
  text-align: center;
}

.it-works {
  display: flex;
  align-items: center;
  justify-content: center;
}

.works {
  margin: 10px;
  padding: 20px;
  height: 150px;
  text-align: center;
}

.works-image {
  background-color: #e3f144;
  border-radius: 360px;
  width: 40px;
  height: 40px;
}

/*Loan Calculator Section*/
.loan-calc {
  font-size: xx-large;
  text-align: center;
}

.loan-calculator {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 50px;
  background-color: rgb(235, 234, 234);
}

.c-image {
  width: 600px;
  height: 600px;
  border-radius: 10px;
  border-bottom: 5px solid rgb(192, 190, 190);
}

.calc-image {
  flex: 40%;
  margin-top: 30px;
  position: relative;
  z-index: 0;
}

.loan-calculator1 {
  margin-left: 700px;
  margin-bottom: -30px;
  z-index: 4;
}

.calc-writeup {
  width: 600px;
  margin-left: 80px;
}
.loan-image {
  margin-left: 80px;
}

.loan-image2 {
  height: 461px;
  width: 608px;
  flex: 40%;
  margin-top: 30px;
  position: relative;
}

.loan-calc2 {
  margin-left: 80px;
  width: 300px;
  height: 280px;
  border-bottom: outset grey;
  border-radius: 5px;
  padding: 20px;
}

.text {
  width: 70%;
  margin-left: 2px;
  border: none;
}

#calculator {
  margin-top: 20px;
  background-color: rgb(2, 68, 2);
  color: white;
  border-radius: 5px;
  width: 250px;
  margin-right: 20px;
  margin-left: 30px;
  padding: 8px;
}

.loan-writeup {
  color: #C4C9D5;
  font-size: 9px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}


.loan-input {
  margin-top: 0.2rem;
  width: 300px;
  display: flex;
  justify-content: space-between;
  padding: 0.1rem 0.1rem;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid rgb(194, 191, 191);
}

/*Testimonials Section*/
.testimonials {
  font-size: xx-large;
  text-align: center;
}

.testimonial {
  padding: 20px;
}

.ourtestimonials {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.testimony {
  display: flex;
  flex-direction: row;
  gap: 15px;
  
}

.testimony-image {
  width: 38px;
  height: 38px;
  flex-shrink: 0;
  margin-top: 7px;
}

.testimony-writeup {
  color: rgba(115, 115, 115, 0.73);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

.testy {
  background-color: white;
  margin: 20px;
  margin-top: 40px;
  width: 300px;
  height: 250px;
  display: flexbox;
  flex-direction: row;
  padding: 30px;
  padding-top: 10px;
  border-radius: 8px;
}

.reviewers {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/*FAQ Section*/
.faq {
  font-size: xx-large;
  text-align: center;
}


/*Footer Section*/
.footer-container {
  background-color: rgba(115, 115, 115, 0.73);
}

.types {
  display: flex;
  /*justify-content: center;*/
  gap: 150px;
  padding: 20px;
 
}

.socials {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
  margin-right: 125px;
}

.social-media {
  width: 22px;
  height: 22px;
}

.copyright {
  display: flex;
  justify-content: center;
  gap: 200px;
}

.terms {
  display: flex;
  gap: 20px;
}
/*Signup and Signin*/
.container{
display: flex;
flex-direction: row;
flex-wrap: wrap;
gap: 3;

}
.discuss {
background-color: #005100;
margin:50px;
color: white;
padding:50px;
font-size: 30px;
font-family:Arial, Helvetica,sans-serif;
text-align: center;
margin-right: 0px;
}
.acc-info{
margin:70px;
align-items: center;
justify-content: center;
}
.account, .sign-in{
align-items:center;
justify-content: center;
text-align: center;
padding:10px;
font-size: 12px;
line-height: 0.5;
margin-bottom: 40px;
}
input{
border-radius:5px;
padding:2px 120px 2px 2px;


}
.btn{
background-color: #E99E0E;
color:white;
border-radius: 5px;
padding:5px 100px 5px ;
border:none;
text-align: center;
margin-top:20px;
text-align: center;
}

 .password{
  display: inline-block;
  position: relative;
}
/* .password input{
   padding: 10px 5px; 
} */
  .pass-icon{
    position:absolute;
    top:5px;
    right:10px;
    width:15px;
    cursor:pointer;
  }
.contain{
margin: 50px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
}
.header{
align-items: center;
justify-content: center;
text-align: center;
font-style: italic;
font-size: 25px;
}
.rem{
display: flex;
gap:80px;
font-size: 15px;
}
.or{
 text-align: center; 
 position: relative;
}
span{
  background-color: white;
  padding:0 10px;
}
.or:before{
content: "";
display: block;
width:80px;
height:2px;
background:gray;
position:absolute;
left:0%;
top:50%;
z-index: -2;
}
.or:after{
content: "";
display: block;
width:80px;
height:2px;
background:gray;
position:absolute;
right:0%;
top:50%;
z-index:-2;
}
.icons{
display: flex;
gap:10px;
justify-content: center;
font-size:1px;

}