<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capital Hub</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='homepage.css') }}">

<link href="https://api.fontshare.com/v2/css?f[]=satoshi@700,500,300,400&display=swap" rel="stylesheet">
</head>
<body>
    <section class="navigation">
        <div class="logo">
                <a href="#"><img style="width: 190px;" class="logo-img" src="{{ url_for('static', filename='images/capital-hub.png')}}" alt="Logo">
                </a>
        </div>
    
        <div class="nav">
            <nav class="nav-links">
                <ul>
                    <li>
                       <a href="/">
                            <span style="margin-left: 150px; color: rgba(30, 30, 30, 0.57);" class="title">Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{url_for('other.about')}}">
                            <span  class="title">About Us</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{url_for('other.products')}}">
                            <span style="color: rgba(30, 30, 30, 0.57);" class="title">Products</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{url_for('other.blog')}}">
                            <span style="color: rgba(30, 30, 30, 0.57);" class="title">Blog</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{url_for('auth.login')}}">
                            <span style="margin-left: 250px;" class="title"><button class="login">Login</button></span>
                        </a>
                    </li>
                    <li>
                        <a href="{{url_for('auth.signup')}}">
                            <span style="margin-left: -30px;" class="title"><button class="open">Apply</button></span>
                        </a>
                    </li>
                </ul>    
            </nav>
        </div>
    </section>

    <section>
        <div style="background-color: #0062E4; color: white; margin-top: -10px; height: 590px; display: flex;">
            <div style="margin-left: 50px; padding: 90px 50px 50px 82px; margin-right: 10px;">
                <h1 style="font-size: 40px; margin-top: 150px;" >Who We Are</h1>
                <p style="margin-top: -40px; font-size: 18px; font-weight: 300;">CapitalHub is a dedicated financial platform <br> that specializes in providing tailored business    
               <br>loans for small and medium-sized  <br>enterprises (SMEs). We understand the   <br>unique challenges faced by SMEs in <br>accessing capital, and we are here to  <br>support   their growth and success.
              </p>
            </div>
    
            <div style="background-color: #F6C71E; margin-bottom: 0px;">
                <img style="width: 816px; height: 480px; margin-top: 110px;" src="{{ url_for('static', filename='images/image 22.jpg')}}" alt="">
            </div>
        </div>
    </section>
    <section>
        <div style="margin-top: 30px; display: flex; background-color: #F5F8FF;">
            <div
                style=" width: 200px; height: 400px; border-radius: 20px 0px ; margin-left: 150px; margin-bottom: 100px; ">
                <img style="width: 500px; height: 400px; margin-top: 20px; border-radius:6px; border-right:9px solid #F6C71E; border-bottom:9px solid #F6C71E;"
                    src="{{ url_for('static', filename='/images/mission.jpg')}}" alt="">
            </div>
    
            <div style="margin-left: 400px; margin-top: 120px; ">
                <div>
                  <h2 style="color: #252525; font-weight: 700;">Our Mission</h2>
                    <p style="font-size: 16px; color: #7F7A7A;">Our mission is to be the trusted partner for SMEs <br> seeking financial assistance, offering personalized loan <br> options and
                    expert guidance to help them achieve their <br> business goals and contribute to their communities..</p>
                </div>

            </div>
        </div>
    </section>    
    <section>
        <div style="margin-top: 30px; display: flex;">
            <div style="margin-left: 150px; margin-top: 120px;">
                <div>
                    <h2 style="color: #252525; font-weight: 700;">Our vission</h2>
                    <p style="font-size: 16px; color: #7F7A7A;">To revolutionize the way SMEs access financial <br> resources by providing innovative and flexible lending  <br> solutions that
                    empower business owners to realize their <br> full potential and drive economic prosperity.
                    </p>
                </div>
            </div>

            <div
                style="width: 200px; height: 400px; border-radius: 20px 0px 20px 0px; margin-left: 250px; margin-bottom: 100px;">
                <img style="width: 500px; height: 400px; margin-top: 20px ; border-radius:6px; border-right:9px solid #0062E4; border-bottom:9px solid #0062E4"
                    src="{{ url_for('static', filename='/images/vision.jpg')}}" alt="">
            </div>
        </div>
    </section>
    <section>
        <div style="margin-top: 30px; display: flex; background-color: #F5F8FF;">
            <div
                style=" width: 200px; height: 400px;  margin-left: 150px; margin-bottom: 100px;  ">
                <img style="width: 500px; height: 400px; margin-top: 20px;  border-radius:6px; border-right:9px solid #F6C71E; border-bottom:9px solid #F6C71E;"
                    src="{{ url_for('static', filename='/images/image 24.jpg')}}" alt="">
            </div>
    
            <div style="margin-left: 400px; margin-top: 120px;">
                <div>
                    <h2 style="color: #252525; font-weight: 700;">Our Story</h2>
                    <p style="font-size: 16px; color: #7F7A7A;">CapitalHub was founded by a team of experienced <br> financial professionals who recognized the gap in <br> accessible funding
                    options for SMEs. Inspired by the <br> potential of small businesses to drive economic growth <br> and innovation, we set out to
                    create a platform that <br> would provide fair and flexible financing solutions to <br> support their aspirations.
                    </p>
                </div>
    
            </div>
        </div>
    </section>
    <section>
        <div style="margin-top: 30px; display: flex;">
            <div style="margin-left: 150px; margin-top: 120px;">
                <div>
                    <h2 style="color: #252525; font-weight: 700;">Our Approach</h2>
                    <p style="font-size: 16px; color: #7F7A7A;">At CapitalHub, we prioritize <span style="color: #0062E4;">Transparency,
                            Simplicity,</span> <br> and <span style="color: #0062E4;"> Efficiency</span> in our lending process. We believe
                        in <br> building
                        strong relationships with our clients based on <br> trust, integrity, and a deep understanding of their <br>
                        business needs. Our
                        goal is to make the loan <br> application process seamless and stress-free for SMEs.
                    </p>
                </div>
            </div>
    
            <div
                style=" width: 200px; height: 400px; border-radius: 20px 0px 20px 0px; margin-left: 200px; margin-bottom: 100px;">
                <img style="width: 500px; height: 400px; margin-top: 20px;border-radius:6px; border-right:9px solid #0062E4; border-bottom:9px solid #0062E4; "
                    src="{{ url_for('static', filename='/images/approach.jpg')}}" alt="">
            </div>
        </div>
    </section>
    <section>
    <div style="margin-top: 30px; display: flex;background: var(--Foundation-Blue-B300, #3355FD);padding-bottom: 40px;">
        <div
            style=" width: 200px; height: 400px; margin-left: 150px; margin-bottom: 10px; ">
           <div style="display: flex;">
                <img style="width: 180px; height: 150px; margin-top: 20px;  margin-top: 5rem; "
                    src="{{ url_for('static', filename='/images/image 24 (4).jpg')}}" alt="">
                    <img style="width: 200px; height: 200px; margin-top: 20px; " 
                    src="{{ url_for('static', filename='/images/image 24 (1).jpg')}}" alt="">
                    </div>
                    <div style="display: flex;">
                    <img style="width: 200px; height: 180px; margin-top: 20px;"
                        src="{{ url_for('static', filename='/images/image 24 (3).jpg')}}" alt="">
                        <img style="width: 150px; height: 130px; margin-top: 20px;"
                            src="{{ url_for('static', filename='/images/image 24 (2).jpg')}}" alt="">
                   </div>

        </div>
    
        <div style="margin-left: 400px; margin-top: 120px;">
            <div>
                <h2 style="color: #FFF; font-weight: 700;">Our Impact</h2>
                <p style="font-size: 16px; color: #FFF">Through our customized loan products and <br> personalized service, we have already made a positive <br> impact on over 1000 SMEs,
                helping them expand their <br> operations, create jobs, and achieve sustainable <br> growth. We measure our success by the success
                of our <br> clients and the positive changes they bring to their industries.
                </p>
            </div>
    
        </div>
    </div>
      </div>
    </section>
    <section>
        <div style="margin-top: 70px;  margin-bottom: 0px;  text-align: center;">
            <h2 style="font-weight: 700;">Our Team</h2>
            <p style="font-weight: 500; color: #7F7A7A; ">
            Our team is made up of professionals with backgrounds in product management, product design, software development, data <br>
            analyst, and cybersecurity from WTF24. We are committed to providing exceptional support to clients at every stage of
            their loan <br> journey. Meet the passionate fellows behind CapitalHub who are driven by a shared mission to empower SMEs and
            build stronger <br> economy.
            </p>
        </div>
        <div
            style="display: grid; grid-template-columns: 1fr 1fr 1fr; justify-content: center;  gap: 10px; margin-bottom: 200px; background-color: #F5F8FF;">
           <div style="margin-left: 50px;">
               <img src="{{ url_for('static', filename='/images/Frame 427319533.png')}}" alt="">
               <div style="text-align: center;">
               <p style="font-weight: 500; color: #252525;">Pearl Nwaogazi</p>
               <p style="font-weight: 400;"> Women Techsters Fellowship 2024</p>
               <p style="font-weight: 400; color: rgba(37, 37, 37, 0.61);">Crafting intuitive designs that solve user problems <br> and elevate businesses to new heights.</p>
               </div>
           </div>

          <div>
            <img src="{{ url_for('static', filename='/images/Frame 427319534.png')}}" alt="">
            <div style="text-align: center;">
                <p style="font-weight: 500; color: #252525;">Opeyemi Soyoye</p>
                <p style="font-weight: 400;"> Women Techsters Fellowship 2024</p>
                <p style="font-weight: 400; color: rgba(37, 37, 37, 0.61);">Leading teams to create innovative solutions that <br> address user needs and drive business growth.</p>
            </div>
          </div>

        <div>
            <img src="{{ url_for('static', filename='/images/Frame 427319535.png')}}" alt="">
            <div style="text-align: center;">
                <p style="font-weight: 500; color: #252525;">Vivian Olatunji</p>
                <p style="font-weight: 400;"> Women Techsters Fellowship 2024</p>
                <p style="font-weight: 400; color:rgba(37, 37, 37, 0.61) ;">Protecting businesses from digital threats, ensuring <br> smooth operations and peace of mind for users.</p>
            </div>
        </div>

        <div style="margin-left: 50px;">
            <img src="{{ url_for('static', filename='/images/Frame 427319536.png')}}" alt="">
            <div style="text-align: center;">
                <p style="font-weight: 500; color: #252525;">Kosisochukwu Eze</p>
                <p style="font-weight: 400;"> Women Techsters Fellowship 2024</p>
                <p style="font-weight: 400; color:rgba(37, 37, 37, 0.61) ;">Transforming complex challenges into effective <br> solutions that drive user and business success.</p>
            </div>
        </div>

        <div>
            <img src="{{ url_for('static', filename='/images/Frame 427319537.png')}}" alt="">
            <div style="text-align: center;">
                <p style="font-weight: 500; color: #252525;">Precious Adedeji</p>
                <p style="font-weight: 400;"> Women Techsters Fellowship 2024</p>
                <p style="font-weight: 400; color:rgba(37, 37, 37, 0.61) ;">Leading the team in delivering innovative solutions <br> that address user and business needs.</p>
            </div>
        </div>
        <div>
            <img src="{{ url_for('static', filename='/images/Frame 427319538.png')}}" alt="">
            <div style="text-align: center;">
                <p style="font-weight: 500; color: #252525;">Temiloluwa Aina</p>
                <p style="font-weight: 400;"> Women Techsters Fellowship 2024</p>
                <p style="font-weight: 400; color:rgba(37, 37, 37, 0.61) ;">Using the power of data to solve business <br> problems and make informed decisions that drive <br> growth and success.</p>
            </div>
        </div>
        
        
     </div>
    </section>

    <div style="display: flex; margin-bottom: 120px; padding-bottom: 50px; margin-top: -100px; ">
        <img  style="height: 618px; width: 632px; margin-left: 100px;"
        src="{{ url_for('static', filename='/images/lady.jpg')}}" alt="">
        <div style="margin-left:80px; margin-top: 150px">
        <h1 style="font-weight: 700; font-size: 38px;"><strong> Let’s help you achieve <br> your business goal <br> today.</strong></h1>
        <a style="text-decoration: none;" href="customersupport.html"><button style="background-color:#FDDD32; padding: 12px 24px; border-radius: 10px; border: none; align-items: center; margin-top: -10px; display: flex; cursor: pointer;">Send us a message
            <svg style="align-items: center;" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none">
                <path d="M6.4 18L16 8.4V17H18V5H6V7H14.6L5 16.6L6.4 18Z" fill="black" />
            </svg>
        </button></a>
        </div>
    </div>

    <div style="color: white;" class="footer-container">
        <div class="types">
            <div>
                <h1>CapitalHub</h1>
                <p>Our mission is to empower <br> businesses by providing them <br> with the financial resources they <br>
                    need to achieve their goals.</p>
            </div>
            <div>
                <h1>Products</h1>
                <p>Startup Loan</p>
                <p>Bridge Finance</p>
                <p>Equipment Financing</p>
                <p>Micro Loans</p>
            </div>
            <div>
                <h1>Company</h1>
                <p>About</p>
                <p>FAQ</p>
                <a style="text-decoration: none; color: white;" href="resources.html"><p>Resources</p></a>
                <a style="text-decoration: none; color: white;" href="loanapplication.html"><p>Apply for Loan</p></a>
            </div>
            <div>
                <p style="margin-top: 30px;">28 Mobos Shola, Lekki Phase 1, <br> Lagos, Nigeria</p>
                <p style="text-align: end;">support@capitalhub.com</p>
                <p style="text-align: end;">+234 810 181181</p>
            </div>
        </div>
    
        <div class="socials">
            <img class="social-media" src="{{ url_for('static', filename='images/Speech_bubble (3).jpg')}}" alt="">
            <img class="social-media" src="{{ url_for('static', filename='images/Speech_bubble (4).jpg')}}" alt="">
            <img class="social-media" src="{{ url_for('static', filename='images/flowbite_linkedin-solid.jpg')}}" alt="">
            <img class="social-media" src="{{ url_for('static', filename='images/Speech_bubble (5).jpg')}}" alt="">
        </div>
    
        <div class="copyright">
            <div>
                <p>@Finzo. All Rights is Reserved.</p>
            </div>
            <div class="terms">
                <a style="text-decoration: none; color: white;" href="privacypolicy.html"><p>Terms</p></a>
                <p>Privacy</p>
                <p>Security</p>
            </div>
        </div>
    </div>
</body>
</html>