<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Capital Hub</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='homepage.css') }}">

  <link href="https://api.fontshare.com/v2/css?f[]=satoshi@700,500,300,400&display=swap" rel="stylesheet">
</head>
<body>
  <section>
    <div class="blank">
      <div style="margin-left: 1000px;" class="logo">
        <a href="#"><img class="logo-img" src="{{ url_for('static', filename='images/capital-hub.png')}}" alt="Logo">
        </a>
      </div>
    </div>
    <div class="writeup">
      <h1 style="margin-left: 800px; font-weight: 700; font-size: 50px;">Need help? <br> Talk to us today <br> for support.</h1>
      <p style="margin-left: 800px; margin-top: -40px; font-size: 14px;">Talk to our customer support today anytime, anywhere 24/7 <br> to get assistant you need for your business growth.</p>
    </div>
    <div class="support-picture">
      <img class="picture-support" src="{{ url_for('static', filename='images/customer-support.png')}}" alt="">
    </div>
  </section>

  <section>
      <div class="support-form">
        <h1>Let’s Chat</h1>
        <p style="margin-top: 0px;">Our customer support are available to support you anytime of the day</p>
        <br>
        <input class="support-input" type="text" placeholder="First Name">
        <br>
        <input class="support-input" type="text" placeholder="Last Name">
        <br>
        <input class="support-input" type="text" placeholder="Business Name">
        <br>
        <input class="support-input" type="text" placeholder="Phone number">
        <br>
        <input class="support-input" type="text" placeholder="Existing Customer">
        <br>

        <textarea class="support-input2" name="Write a message" id="" cols="30" rows="10">Write a message</textarea>
        <br>
        <a style="text-decoration: none;" href="customersupport2.html"><button class="support-btn">Send Message</button></a>
      </div>
  </section>

  <div style="background-color: #E4E6E5;" class="footer-container">
      <div class="types">
          <div><h1>CapitalHub</h1>
              <p>Our mission is to empower <br> businesses by providing them <br> with the financial resources they <br> need to achieve their goals.</p>
          </div>
          <div>
              <h1>Products</h1>
              <p>Startup Loan</p>
              <p>Bridge Finance</p>
              <p>Equipment Financing</p>
              <p>Micro Loans</p>
          </div>
          <div>
              <h1>Company</h1>
              <a style="text-decoration: none; color: black;" href="aboutpage.html"><p>About</p></a>
              <p>FAQ</p>
              <a style="text-decoration: none; color: black;" href="resources.html"><p>Resources</p></a>
              <a style="text-decoration: none; color: black;" href="loanapplication.html"><p>Apply for Loan</p></a> 
          </div>
          <div>
              <p style="margin-top: 30px;">28 Mobos Shola, Lekki Phase 1, <br> Lagos, Nigeria</p>
              <p style="text-align: end;">support@capitalhub.com</p>
              <p style="text-align: end;">+234 810 181181</p>
          </div>
      </div>
  
      <div class="socials">
          <img class="social-media" src="{{ url_for('static', filename='images/Speech_bubble.jpg')}}" alt="">
          <img class="social-media" src="{{ url_for('static', filename='images/Speech_bubble (1).jpg')}}" alt="">
          <img class="social-media" src="{{ url_for('static', filename='images/Isolation_Mode.jpg')}}" alt="">
          <img class="social-media" src="{{ url_for('static', filename='images/Speech_bubble (2).jpg')}}" alt="">
      </div>
  
      <div class="copyright">
          <div><p>@Finzo. All Rights is Reserved.</p></div>
          <div class="terms">
              <a style="text-decoration: none; color: black;" href="privacypolicy.html"><p>Terms</p></a>
              <p>Privacy</p>
              <p>Security</p>
          </div>
      </div>
</div>
  
</body>
</html>