<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capital Hub</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='homepage.css') }}">
   
<link href="https://api.fontshare.com/v2/css?f[]=satoshi@700,500,300,400&display=swap" rel="stylesheet">

</head>
<body>
    <div class="loan-container">
        <div class="loan-header">
            <h2>Loan Application Form</h2>
            <h2>Capital Hub</h2>
        </div>
       <p style="font-weight:300; font-size: 16px; margin-left: 50px;">Please answer all questions correctly and accurately. Ensure that questions are valid, Incomplete or inaccurate
           application may cause your application to not be<br> approved.
       </p>
      <div class="personal-info">
         <p class="particulars">Personal Information</p>
         <p style="margin-left: 50px;"> <strong>Personal Information</strong></p>
         <div class="title"> 
             
            <p style="margin-left: 50px;">Title </p>
            
            <div class="titles" style="margin-left: 200px; ">
                <span>
                <input type="checkbox" name="" id="">
                <label for="Mr">Mr</label>
                <input type="checkbox" name="" id="">
                <label for="Mr">Miss</label>
                <input type="checkbox" name="" id="">
                <label for="Mr">Mrs</label>
                <input type="checkbox" name="" id="">
                <label for="Mr">Ms</label>
                <input type="checkbox" name="" id="">
                <label for="Mr">Others</label>
                </span>
             </div>
             
            
           </div class= "forms">
         
            <label class="loanapp-label" for="name">Full Name:</label class="loanapp-label">
            <input class="loanapp-input" type="text" placeholder="" name="" ><br>
        
            <label class="loanapp-label">Date of Birth:</label>
            <input class="loanapp-input" type="text" placeholder="" name=""><br>
            
            <label class="loanapp-label">Current Address:</label>
            <input class="loanapp-input" type="text" placeholder="" name="" ><br>

            <label class="loanapp-label" for="name">Phone number:</label>
            <input class="loanapp-input" type="text" placeholder="" name=""><br>

            <label class="loanapp-label" for="name">Email Address:</label>
            <input class="loanapp-input" type="email" placeholder="" name=""><br>

            <label class="loanapp-label" for="name">Marital Status:</label>
            <input class="loanapp-input" type="text" placeholder="" name=""><br>

            <label class="loanapp-label" for="name">Number of Dependent:</label>
            <input class="loanapp-input" type="text" placeholder="" name=""><br>
        
            <p class="particulars">Employment Information</p>

            <label class="loanapp-label" for="name">Employer Name:</label>
            <input class="loanapp-input" type="text" placeholder="" name=""><br>

            <label class="loanapp-label" for="name">Job Title:</label>
            <input class="loanapp-input" type="text" placeholder="" name=""><br>

            <label class="loanapp-label" for="name">Annual Income:</label>
            <input class="loanapp-input" type="text" placeholder="" name=""><br>

            <label class="loanapp-label" for="name">Years of Employment:</label>
            <input class="loanapp-input" type="text" placeholder="" name=""><br>

            <label class="loanapp-label" for="name">Work Address:</label>
            <input class="loanapp-input" type="text" placeholder="" name=""><br>

            <label class="loanapp-label" for="name">Work Phone Number:</label>
            <input class="loanapp-input" type="text" placeholder="" name=""><br>

            <label class="loanapp-label" for="name">CAC Number:</label>
            <input class="loanapp-input" type="text" placeholder="" name=""><br>

            <p class="particulars">Financial Information</p>

            <label class="loanapp-label" for="name">Total Monthly Income:</label>
            <input class="loanapp-input" type="text" placeholder="" name=""><br>
            
            <label class="loanapp-label" for="name">Total Monthly Expenses:</label>
            <input class="loanapp-input" type="text" placeholder="" name=""><br>

            <label class="loanapp-label" for="name">Total Debt:</label>
            <input class="loanapp-input" type="text" placeholder="" name=""><br>

            <label class="loanapp-label" for="name">Total Earnings:</label>
            <input class="loanapp-input" type="text" placeholder="" name=""><br>

            <label class="loanapp-label" for="name">Bank Account Details:</label>
            <input class="loanapp-input" type="text" placeholder="" name=""><br>

            <label class="loanapp-label" for="name">Bank Name:</label>
            <input class="loanapp-input" type="text" placeholder="" name=""><br>

            <label class="loanapp-label" for="name">Bank Address:</label>
            <input class="loanapp-input" type="text" placeholder="" name=""><br>

            <label class="loanapp-label" for="name">Savings/Current Account:</label>
            <input class="loanapp-input" type="text" placeholder="" name=""><br>

            <p class="particulars">Loan Details</p>

            <label class="loanapp-label" for="name">Loan Amount Requested:</label>
            <input class="loanapp-input" type="text" placeholder="" name=""><br>

            <label class="loanapp-label" for="name">Loan Purpose:</label>
            <input class="loanapp-input" type="text" placeholder="" name=""><br>

            <label class="loanapp-label" for="name">Loan Term (month/years):</label>
            <input class="loanapp-input" type="text" placeholder="" name=""><br>

            <label class="loanapp-label" for="name">Preferred Repayment Schedule:</label>
            <input class="loanapp-input" type="text" placeholder="" name=""><br>

            <label class="loanapp-label" for="name">Collateral Offered (if any)</label>
            <input class="loanapp-input" type="text" placeholder="" name=""><br>


            <p class="particulars">Banking Information</p>

            <label class="loanapp-label" for="name">Bank Name:</label>
            <input class="loanapp-input" type="text" placeholder="" name=""><br>

            <label class="loanapp-label" for="name">Account Type:</label>
            <input class="loanapp-input" type="text" placeholder="" name=""><br>

            <label class="loanapp-label" for="name">Account Number:</label>
            <input class="loanapp-input" type="text" placeholder="" name=""><br>

            <p class="particulars">Bank Statement Upload</p>

            <div class="upload-stat" style="display: inline-flex; margin-left:50px" >
                <p>Upload Statement</p>
                <p class="upload" style="margin-left: 380px;">Drag and drop a file</p>         
            </div>

            <p class="particulars">References</p>

            <p style="margin-left: 50px;">Referee 1</p>
            <label class="loanapp-label" for="name">Relationship:</label>
            <input class="loanapp-input" type="text" placeholder="" name=""><br>   

            <label class="loanapp-label" for="name">Phone Number</label>
            <input class="loanapp-input" type="text" placeholder="" name=""><br>

            <p style="margin-left:50px;">Referee 2</p>
            <label class="loanapp-label" for="name">Relationship:</label>
            <input class="loanapp-input" type="text" placeholder="" name=""><br>

            <label class="loanapp-label" for="name">Phone Number</label>
            <input class="loanapp-input" type="text" placeholder="" name=""><br>
        

            <p class="particulars">Declaration</p>
            <p style="margin-left:50px; ">I certify that all information provided in this loan application form is true and accurate to the best of my knowledge.
            I understand that providing false information <br> may result in the rejection of my loan application. I authorize the lender
            to verify the information provided.
            </p>
            <div class="signature">
                <p style="margin-left:50px;">Signature:</p>
                <p style="margin-left:50px;">Date:</p> 
            </div>
           
      </div>

    </d