<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="homepage.css">

  <link href="https://api.fontshare.com/v2/css?f[]=satoshi@700,500,300,400&display=swap" rel="stylesheet">
</head>
<body>
  <div style="background-color: #3355FD; height: 900px; margin: none; padding: 40px;">
    <div style="background-color: white; width: 900px; margin-left: 190px; margin-top: 30px; height: 770px; border-radius: 5px;">
      <div style="margin-left: -40px;" class="logo">
        <a href="#"><img style="height: 30px;" class="logo-img" src="{{ url_for('static', filename='images/capital hub.png')}}" alt="Logo">
        </a>
      </div>

      <div style="display: flex;">
        <div style="margin-left: 60px; margin-top: -30px;">
          <p><h1>Loan Eligibility Calculator</h1></p>
          <p>See how much you can borrow. Check your total <br>eligibility status with these few steps. </p>

          <div style="border: 1px solid var(--Foundation-Grey-G100, #ADADAA); width: 400px; height: 390px; border-radius: 8px; padding: 20px; box-shadow: 8px #ADADAA; margin-top: 70px;">
            <label style="font-weight: 700;" for="">Business Type</label><br>
            <input style="width: 350px; border: 1px solid rgba(0, 98, 228, 0.30); padding: 8px; border-radius: 5px; margin-top: 10px; color: rgba(0, 0, 0, 0.30); font-size: 12px; margin-bottom: 10px;" type="text" placeholder="Select loan type"> <svg style="margin-left: -20px; " xmlns="http://www.w3.org/2000/svg" width="11" height="5" viewBox="0 0 11 7" fill="none">
              <path d="M4.91888 6.76113L0.242419 2.15319C-0.0808065 1.8347 -0.0808065 1.3197 0.242419 1.0046L1.01954 0.238867C1.34276 -0.0796225 1.86543 -0.0796225 2.18521 0.238867L5.5 3.50508L8.81479 0.238867C9.13801 -0.0796225 9.66068 -0.0796225 9.98046 0.238867L10.7576 1.0046C11.0808 1.32309 11.0808 1.83809 10.7576 2.15319L6.08112 6.76113C5.76477 7.07962 5.24211 7.07962 4.91888 6.76113Z" fill="black" fill-opacity="0.3"/>
            </svg><br>

            <label style="font-weight: 700;" for="">How much do you want to borrow?</label><br>
            <input style="width: 350px; border: 1px solid rgba(0, 98, 228, 0.30); padding: 8px; border-radius: 5px; margin-top: 10px; color: rgba(0, 0, 0, 0.30); font-size: 12px; margin-bottom: 10px;" type="text" placeholder="Enter amount"><br>

            <label style="font-weight: 700;" for="">How long do you want to pay back?</label><br>
            <input style="width: 350px; border: 1px solid rgba(0, 98, 228, 0.30); padding: 8px; border-radius: 5px; margin-top: 10px; color: rgba(0, 0, 0, 0.30); font-size: 12px; margin-bottom: 10px;" type="text" placeholder="Select duration"><svg style="margin-left: -20px;" xmlns="http://www.w3.org/2000/svg" width="11" height="5" viewBox="0 0 11 7" fill="none">
              <path d="M4.91888 6.76113L0.242419 2.15319C-0.0808065 1.8347 -0.0808065 1.3197 0.242419 1.0046L1.01954 0.238867C1.34276 -0.0796225 1.86543 -0.0796225 2.18521 0.238867L5.5 3.50508L8.81479 0.238867C9.13801 -0.0796225 9.66068 -0.0796225 9.98046 0.238867L10.7576 1.0046C11.0808 1.32309 11.0808 1.83809 10.7576 2.15319L6.08112 6.76113C5.76477 7.07962 5.24211 7.07962 4.91888 6.76113Z" fill="black" fill-opacity="0.3"/>
            </svg> <br>

            <label style="font-weight: 700;" for="">Monthly Revenue</label><br>
            <input style="width: 350px; border: 1px solid rgba(0, 98, 228, 0.30); padding: 8px; border-radius: 5px; margin-top: 10px; color: rgba(0, 0, 0, 0.30); font-size: 12px; margin-bottom: 40px;" type="text" placeholder="Select interest"><svg style="margin-left: -20px;" xmlns="http://www.w3.org/2000/svg" width="11" height="5" viewBox="0 0 11 7" fill="none">
              <path d="M4.91888 6.76113L0.242419 2.15319C-0.0808065 1.8347 -0.0808065 1.3197 0.242419 1.0046L1.01954 0.238867C1.34276 -0.0796225 1.86543 -0.0796225 2.18521 0.238867L5.5 3.50508L8.81479 0.238867C9.13801 -0.0796225 9.66068 -0.0796225 9.98046 0.238867L10.7576 1.0046C11.0808 1.32309 11.0808 1.83809 10.7576 2.15319L6.08112 6.76113C5.76477 7.07962 5.24211 7.07962 4.91888 6.76113Z" fill="black" fill-opacity="0.3"/>
            </svg> <br>

            <button style="width: 150px; background-color: #0062E4; border-radius: 6px; color: white; padding: 10px 30px; border: none;">Calculate</button>
            <button style="width: 150px; margin-left: 80px; border: 1px solid #0062E4; background-color: white; padding: 10px 0px; border-radius: 6px;">Clear</button>
          </div>
        </div>

        <div style="width: 200px; margin-left: 40px;">
          <div style="width: 100px;"><img style="width: 350px;" src="{{ url_for('static', filename='images/Star 4.jpg')}}" alt=""></div>
        </div>
      </div>    
  </div>
</div>    
</body>
</html>