<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capital Hub</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='homepage.css') }}">
    <link href="https://api.fontshare.com/v2/css?f[]=satoshi@700,500,300,400&display=swap" rel="stylesheet">
</head>
<body>
    <section class="navigation">
        <div class="logo">
                <a href="#"><img style="width: 190px;" class="logo-img" src="{{ url_for('static', filename='images/capital-hub.png')}}" alt="Logo">
                </a>
        </div>
    
        <div class="nav">
            <nav class="nav-links">
                <ul>
                    <li>
                       <a href="/">
                            <span style="margin-left: 150px; color: rgba(30, 30, 30, 0.57);" class="title">Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{url_for('other.about')}}">
                            <span style="color: rgba(30, 30, 30, 0.57);"  class="title">About Us</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{url_for('other.products')}}">
                            <span style="color: rgba(30, 30, 30, 0.57);" class="title">Products</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{url_for('other.blog')}}">
                            <span  class="title">Blog</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{url_for('auth.login')}}">
                            <span style="margin-left: 250px;" class="title"><button class="login">Login</button></span>
                        </a>
                    </li>
                    <li>
                        <a href="{{url_for('auth.signup')}}">
                            <span style="margin-left: -30px;" class="title"><button class="open">Apply</button></span>
                        </a>
                    </li>
                </ul>    
            </nav>
        </div>
    </section>

    <div style="color: var(--Foundation-Blue-B300, #3355FD); display: flex; margin-top: 100px; align-items: center; margin-left: 50px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M10.828 11.9993L15.778 16.9493L14.364 18.3633L8 11.9993L14.364 5.63528L15.778 7.04928L10.828 11.9993Z"
                fill="#3355FD" />
        </svg>
       <a href="{{url_for('other.blog')}}"><p>Back to Blog </p></a>  
       
    </div>

    <section>   
        <div style=" margin-top: -50px; height: 500px; display: flex;">
            <div style="margin-left: 40px; padding: 90px 70px 50px 82px;">
                <div style="color: var(--gray, #7F7F7F); gap: 50px; display: flex; margin-left: 10px; margin-top: 100px;">
                    <p style="margin-bottom: 0px; ;"> APR 4, 2023 </p>
                    <p style="margin-bottom: 0px;">BY MONICAH WANJIRU</p>
                </div>
                <h1 style="font-size: 55px; margin-top: 0px;width: 500px; font-weight: 400;">Understanding <br> Business Loans: A <br> Beginner's Guide
                </h1>
    
            </div>
    
            <div style=" margin-bottom: 0px;">
                <img style="width: 600px; height: 480px; margin-top: 90px; padding-right: 50px; " src="{{ url_for('static', filename='images/blog.jpg')}}" alt="">
            </div>
        </div>
    </section>

    <section>
        <div style="margin-top: 150px; padding-left: 150px; margin-bottom: 120px; background-color: #F5F8FF; padding-top: 5px; padding-bottom: 5px;">
            <h2 style="font-weight:400; font-size:30px;">Understanding Business Loans: A Beginner's Guide</h2>
            <p style="color: rgba(0, 0, 0, 0.75); font-weight:400;  font-size: 22px; text-align: justify;">Navigating the diverse landscape of business loans can be daunting for small business owners. Acquiring a <br> comprehensive
            understanding of the various business loan options available is pivotal in making prudent <br> financial choices. Here is a
            beginner's guide tailored to the Nigerian market to demystify the basics of <br> business loans. <br><br>
            Business loans in Nigeria encompass different forms, including term loans, lines of credit, and SBA loans. <br> Term loans
            entail receiving a specific sum of money that is repaid over a predetermined period, featuring <br> either a fixed or
            variable interest rate. Lines of credit offer adaptability by permitting borrowers to access <br> funds up to a specified
            limit and only incurring interest on the utilized amount. SBA loans, supported by <br> the Small Business Administration,
            present advantageous terms for qualifying Nigerian businesses. <br> <br> 
            Before delving into a business loan, it is imperative to evaluate your financial needs and circumstances. <br> Determine the
            exact amount of capital required, the intended use of the loan, and your capacity to repay it. <br> Conduct a thorough
            comparison of loan offerings from diverse lenders to identify the most favourable terms <br> and rates that align with the
            specific requirements of your Nigerian business. <br><br>
            By comprehending the intricacies of business loan terms and prerequisites, you can make well-informed <br> decisions that
            bolster the growth and financial robustness of your Nigerian business. Exercise prudence <br> in borrowing and ensure that
            the loan aligns harmoniously with your business objectives and cash flow <br> projections.

        </p>
        </div>
    </section>

    <section>
        <div style="display: flex; margin-bottom: 120px; padding-bottom: 50px;  ">
            <img style="height: 618px; width: 632px; margin-left: 150px;" src="{{ url_for('static', filename='/images/lady.jpg')}}" alt="">
            <div style="margin-left:80px; margin-top: 150px">
                <h1 style="font-weight: 700; font-size: 38px;"><strong> Let’s help you achieve <br> your business goal <br> today.</strong>
                </h1>
                <a style="text-decoration: none;" href="{{url_for('other.customer')}}"><button style="background-color:#FDDD32; padding: 12px 24px; border-radius: 10px; border: none; align-items: center; margin-top: -10px; display: flex; cursor: pointer;">Send us a message &ensp;
                    <svg style="align-items: center;" xmlns="http://www.w3.org/2000/svg" width="20" height="18" viewBox="0 0 24 24" fill="none">
                        <path d="M6.4 18L16 8.4V17H18V5H6V7H14.6L5 16.6L6.4 18Z" fill="black" />
                    </svg>
                </button></a>
            </div>
        </div>
    </section>
    
    <div style="color: white;" class="footer-container">
            <div class="types">
                <div>
                    <h1>CapitalHub</h1>
                    <p>Our mission is to empower <br> businesses by providing them <br> with the financial resources they
                        <br>
                        need to achieve their goals.</p>
                </div>
                <div>
                    <h1>Products</h1>
                    <p>Startup Loan</p>
                    <p>Bridge Finance</p>
                    <p>Equipment Financing</p>
                    <p>Micro Loans</p>
                </div>
                <div>
                    <h1>Company</h1>
                    <p>About</p>
                    <p>FAQ</p>
                    <p>Resources</p>
                    <p>Apply for Loan</p>
                </div>
                <div>
                    <p style="margin-top: 30px;">28 Mobos Shola, Lekki Phase 1, <br> Lagos, Nigeria</p>
                    <p style="text-align: end;">support@capitalhub.com</p>
                    <p style="text-align: end;">+234 810 181181</p>
                </div>
            </div>
    
            <div class="socials">
                <img class="social-media" src="{{ url_for('static', filename='images/Speech_bubble (3).jpg')}}" alt="">
                <img class="social-media" src="{{ url_for('static', filename='images/Speech_bubble (4).jpg')}}" alt="">
                <img class="social-media" src="{{ url_for('static', filename='images/flowbite_linkedin-solid.jpg')}}" alt="">
                <img class="social-media" src="{{ url_for('static', filename='images/Speech_bubble (5).jpg')}}" alt="">
            </div>
    
            <div class="copyright">
                <div>
                    <p>@Finzo. All Rights is Reserved.</p>
                </div>
                <div class="terms">
                    <p>Terms</p>
                    <p>Privacy</p>
                    <p>Security</p>
                </div>
            </div>
    </div>
    
</body>
</html>