<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capital Hub</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='homepage.css') }}">
    <link href="https://api.fontshare.com/v2/css?f[]=satoshi@700,500,300,400&display=swap" rel="stylesheet">

</head>
<body>
    <section class="navigation">
        <div class="logo">
                <a href="#"><img style="width: 190px;" class="logo-img" src="{{ url_for('static', filename='images/capital-hub.png')}}" alt="Logo">
                </a>
        </div>
    
        <div class="nav">
            <nav class="nav-links">
                <ul>
                    <li>
                       <a href="/">
                            <span style="margin-left: 150px; color: rgba(30, 30, 30, 0.57);" class="title">Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{url_for('other.about')}}">
                            <span style="color: rgba(30, 30, 30, 0.57);"  class="title">About Us</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{url_for('other.products')}}">
                            <span style="color: rgba(30, 30, 30, 0.57);" class="title">Products</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{url_for('other.blog')}}">
                            <span  class="title">Blog</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{url_for('auth.login')}}">
                            <span style="margin-left: 250px;" class="title"><button class="login">Login</button></span>
                        </a>
                    </li>
                    <li>
                        <a href="{{url_for('auth.signup')}}">
                            <span style="margin-left: -30px;" class="title"><button class="open">Apply</button></span>
                        </a>
                    </li>
                </ul>    
            </nav>
        </div>
    </section>

    <section>
        <div style="background-color: #0062E4; color: white; margin-top: -10px; height: 590px; display: flex;">
            <div style="margin-left: 80px; padding: 90px 70px 50px 82px;">
                <h1 style="font-size: 40px; margin-top: 180px;width: 500px; font-weight: 700;">CapitalHub <br> FinLibrary</h1>
               
            </div>
        
            <div style="background-color: #F6C71E; margin-bottom: 0px; width: 710px;">
                <img style="width: 610px; height: 480px; margin-top: 110px; " src="{{ url_for('static', filename='images/resources.jpg')}}" alt="">
            </div>
        </div>
    </section>

    <section>
            <h1 style="font-weight: 500; text-align: center; margin-top: 100px; font-size: 52px;">Financial Digest</h1>
     
       <div style="background-color: #F6C71E; border-radius: 20px; display: flex; gap: 100px; width: 1300px; margin-left: 25px; margin-bottom: 150px; padding-right: 70px; ">
        <!-- <div><h2>Latest</h2></div> -->
        <div style="display: flex; margin-left: 55px; padding:40px"> 
            <img src="{{ url_for('static', filename='/images/finwise10.jpg')}}" alt="">
            <div style="margin:40px; ;">
                <p style="color:  rgba(10, 11, 17, 0.80); font-size: 11px;">APR 4, 2024</p>
                <p style="color:  rgba(10, 11, 17, 0.80);">Understanding  Business Loans:A <br> Beginner's Guide <a style="text-decoration: none;" href="{{url_for('other.moreblog')}}"></p>
                <p style="color: var(--Foundation-Blue-B400, #243BB1); font-size: 12px;">Read more</p></a>
            </div>
            
        </div>
        <div style="display: flex; padding: 50px ;">
            <img src="{{ url_for('static', filename='/images/finwise10 (1).jpg')}}" alt="">
            <div style="margin:40px; ;">
                <p style="color:  rgba(10, 11, 17, 0.80); font-size: 11px;">APR 4, 2024</p>
                <p style="color:  rgba(10, 11, 17, 0.80);">Types of Financing <br> Options for Small Businesses </p>
                <p style="color: var(--Foundation-Blue-B400, #243BB1); font-size: 12px;">Read more</p>
            </div>        
        </div>       
       </div>    
    </section>

    <section>
        <div
            style="display: grid; grid-template-columns: 1fr 1fr 1fr; justify-content: center;  gap: 10px; margin-bottom: 200px; background-color: #F5F8FF;  padding: 40px;">
            <div >
                <img  style ="margin-left: 20px; height:320px;width:430px; border-radius: 20px;"src="{{ url_for('static', filename='/images/finwise10.jpg')}}" alt="">
                <div  style="margin-left: 20px;">
                    <p style="font-weight: 400; color: #252525;">APR 4, 2024</p>
                    <p style="font-weight: 500;"> Understanding Business Loans: A <br> Beginner's Guide</p>
                    <a style="text-decoration: none;" href="{{url_for('other.moreblog')}}"><p style="font-weight: 700; color: var(--secondary, #F4B100);">Read more</p></a>
                </div>
            </div> 

    
            <div>
                <img style="height:320px;width:430px; border-radius: 20px;" src="{{ url_for('static', filename='/images/finwise10 (1).jpg')}}" alt="">
                <div >
                    <p style="font-weight: 400; color: #252525;">APR 4, 2024</p>
                    <p style="font-weight: 500;"> Types of Financing Options for <br> Small Businesses</p>
                    <p style="font-weight: 700; color: var(--secondary, #F4B100);">Read more</p>
                </div>
            </div>
    
            <div>
                <img style="height:320px;width:430px; border-radius: 20px;" src="{{ url_for('static', filename='/images/finwise5 2.jpg')}}" alt="">
                <div >
                    <p style="font-weight: 400; color: #252525;">APR 4, 2024</p>
                    <p style="font-weight: 500;"> Creating a Solid Business Budget: <br> Step-by-Step Guide</p>
                    <p style="font-weight: 700; color: var(--secondary, #F4B100);">Read more</p>
                </div>
            </div>
    
            <div>
                <img style="margin-left: 20px; height:320px;width:430px; border-radius: 20px;" src="{{ url_for('static', filename='/images/finwise5 2 (1).jpg')}}" alt="">
                <div style="margin-left: 20px;" >
                    <p style="font-weight: 400; color: #252525;">APR 4, 2024</p>
                    <p style="font-weight: 500;"> As a business owner, how do <br> Improve My Credit Score</p>
                    <a style="text-decoration: none;" href="{{url_for('other.moreblog2')}}"><p style="font-weight: 700; color: var(--secondary, #F4B100);">Read more</p></a>
                </div>
            </div>
    
            <div>
                <img style="height:320px;width:430px; border-radius: 20px;" src="{{ url_for('static', filename='/images/finwise5 2 (2).jpg')}}" alt="">
                <div >
                    <p style="font-weight: 400; color: #252525;">APR 4, 2024</p>
                    <p style="font-weight: 500;">Managing Cash Flow: Tips for <br> Small Business Owners</p>
                    <p style="font-weight: 700; color: var(--secondary, #F4B100);">Read more</p>
                </div>
            </div>

            <div>
            <img style="height:320px;width:430px; border-radius: 20px;" src="{{ url_for('static', filename='/images/finwise5 2 (3).jpg')}}" alt="">
            <div >
                <p style="font-weight: 400; color: #252525;">APR 4, 2024</p>
                <p style="font-weight: 500;">The Dos and Don'ts of Borrowing <br> for Your Business in 2024</p>
                <p style="font-weight: 700; color: var(--secondary, #F4B100);">Read more</p>
            </div>
            </div>
    
    
        </div>
    </section>

    <section>
        <div style="display: flex; margin-bottom: 120px; padding-bottom: 50px; margin-top: -100px; ">
            <img style="height: 618px; width: 632px; margin-left: 100px;" src="{{ url_for('static', filename='/images/lady.jpg')}}" alt="">
            <div style="margin-left:80px; margin-top: 150px">
                <h1 style="font-weight: 700; font-size: 38px;"><strong> Let’s help you achieve <br> your business goal <br> today.</strong></h1>
                <a style="text-decoration: none;" href="{{url_for('other.customer')}}"><button style="background-color:#FDDD32; padding: 12px 24px; border-radius: 10px; border: none; align-items: center; margin-top: -10px; display: flex; cursor: pointer;">Send us a message &ensp;
                    <svg style="align-items: center;" xmlns="http://www.w3.org/2000/svg" width="20" height="18" viewBox="0 0 24 24" fill="none">
                        <path d="M6.4 18L16 8.4V17H18V5H6V7H14.6L5 16.6L6.4 18Z" fill="black" />
                    </svg>
                </button></a>
            </div>
        </div>
    </section>

    
    <div style="color: white;" class="footer-container">
            <div class="types">
                <div>
                    <h1>CapitalHub</h1>
                    <p>Our mission is to empower <br> businesses by providing them <br> with the financial resources they <br>
                    need to achieve their goals.</p>
                </div>
                <div>
                    <h1>Products</h1>
                    <p>Startup Loan</p>
                    <p>Bridge Finance</p>
                    <p>Equipment Financing</p>
                    <p>Micro Loans</p>
                </div>
                <div>
                    <h1>Company</h1>
                    <a style="text-decoration: none; color: white;" href="{{url_for('other.about')}}"><p>About</p></a>
                    <p>FAQ</p>
                    <p>Resources</p>
                    <a style="text-decoration: none; color: white;" href="{{url_for('other.loanapplication')}}"><p>Apply for Loan</p></a>
                </div>
                <div>
                    <p style="margin-top: 30px;">28 Mobos Shola, Lekki Phase 1, <br> Lagos, Nigeria</p>
                    <p style="text-align: end;">support@capitalhub.com</p>
                    <p style="text-align: end;">+234 810 181181</p>
                </div>
            </div>
        
            <div class="socials">
                <img class="social-media" src="{{ url_for('static', filename='images/Speech_bubble (3).jpg')}}" alt="">
                <img class="social-media" src="{{ url_for('static', filename='images/Speech_bubble (4).jpg')}}" alt="">
                <img class="social-media" src="{{ url_for('static', filename='images/flowbite_linkedin-solid.jpg')}}" alt="">
                <img class="social-media" src="{{ url_for('static', filename='images/Speech_bubble (5).jpg')}}" alt="">
            </div>
        
            <div class="copyright">
                <div>
                    <p>@Finzo. All Rights is Reserved.</p>
                </div>
                <div class="terms">
                    <a style="text-decoration: none; color: white;" href="privacypolicy.html"><p>Terms</p></a>
                    <p>Privacy</p>
                    <p>Security</p>
                </div>
            </div>
        </div>
    
</body>
</html>