<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capital Hub</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='homepage.css') }}">
    <link href="https://api.fontshare.com/v2/css?f[]=satoshi@700,500,300,400&display=swap" rel="stylesheet">
</head>
<body>
    <section class="navigation">
        <div class="logo">
                <a href="#"><img style="width: 190px;" class="logo-img" src="{{ url_for('static', filename='images/capital-hub.png')}}" alt="Logo">
                </a>
        </div>
    
        <div class="nav">
            <nav class="nav-links">
                <ul>
                    <li>
                       <a href="/">
                            <span style="margin-left: 150px; color: rgba(30, 30, 30, 0.57);" class="title">Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{url_for('other.about')}}">
                            <span style="color: rgba(30, 30, 30, 0.57);"  class="title">About Us</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{url_for('other.products')}}">
                            <span style="color: rgba(30, 30, 30, 0.57);" class="title">Products</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{url_for('other.blog')}}">
                            <span  class="title">Blog</span>
                        </a>
                    </li>
                    <li>
                        <a href="{{url_for('auth.login')}}">
                            <span style="margin-left: 250px;" class="title"><button class="login">Login</button></span>
                        </a>
                    </li>
                    <li>
                        <a href="{{url_for('auth.signup')}}">
                            <span style="margin-left: -30px;" class="title"><button class="open">Apply</button></span>
                        </a>
                    </li>
                </ul>    
            </nav>
        </div>
    </section>

    <section>
        <div style="color: var(--Foundation-Blue-B300, #3355FD); margin-top: 100px; align-items: center; display: flex; margin-left: 50px;">         
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path
                        d="M10.828 11.9993L15.778 16.9493L14.364 18.3633L8 11.9993L14.364 5.63528L15.778 7.04928L10.828 11.9993Z"
                        fill="#3355FD" />
                </svg>
                <a href="{{url_for('other.blog')}}"><p>Back to Blog</p></a>
        </div>
        
    </section>

    <section>
        <div style=" margin-top: -50px; height: 500px; display: flex;">
            <div style="margin-left: 20px; padding: 90px 70px 50px 82px;">
                <div style="color: var(--gray, #7F7F7F); gap: 50px; display: flex; margin-left: 10px; margin-top: 100px;">
                    <p style="margin-bottom: 0px; ;"> APR 4, 2023 </p>
                    <p style="margin-bottom: 0px;">BY MONICAH WANJIRU</p>
                </div>
                <h1 style="font-size: 55px; margin-top:0px;  width: 500px; font-weight: 400;">How to Improve <br> Your Business <br> Credit Score
                </h1>
    
            </div>
    
            <div style=" margin-bottom: 0px;">
                <img style="width: 650px; height: 480px; margin-top: 90px;" src="{{ url_for('static', filename='images/finwise5 2 (1).jpg')}}"
                    alt="">
            </div>
        </div>
    </section>

    <section >
        <div style="margin-top: 200px; padding-left: 150px; margin-bottom: 80px;">
            <h2 style="font-weight:400; font-size:40px;">How to Improve Your Business Credit Score</h2>
            <p style="color: rgba(0, 0, 0, 0.75); font-weight:400;  font-size: 24px; margin-bottom: 20px; margin-top: -10px;">
                A good business credit score is crucial for small business owners seeking financing, negotiating <br> favourable terms, and
                establishing trust with consumers and partners. Elevating your business credit <br> score demands disciplined financial
                management and prudent borrowing practices. Here are practical tips <br> tailored for the you to enhance your business credit
                score
            </p>

            <h2 style="font-weight:400; font-size:40px;">Check Your Credit Report</h2>
            <p style="color: rgba(0, 0, 0, 0.75); font-weight:400;  font-size: 24px; margin-bottom: 20px; margin-top: -10px;">
                Start off your credit improvement journey by obtaining a copy of your business credit report from major <br> Nigerian credit
                bureaus like CreditRegistry, CRC Credit Bureau, and CR Services. Scrutinize the report for <br> errors or discrepancies that
                could adversely affect your credit rating.
            </p>

            <h2 style="font-weight:400; font-size:40px;">Timely Bill Payments</h2>
            <p style="color: rgba(0, 0, 0, 0.75); font-weight:400;  font-size: 24px; margin-bottom: 20px; margin-top: -10px;">
                Prompt settlement of bills and invoices is paramount for preserving a positive credit history. Set up <br> reminders or
                automated payment systems to ensure punctual bill payments, mitigating the risk of late fees.
            </p>

            <h2 style="font-weight:400; font-size:40px;">Debt Reduction</h2>
            <p style="color: rgba(0, 0, 0, 0.75); font-weight:400;  font-size: 24px; margin-bottom: 20px; margin-top: -10px;">
                Excessive outstanding debt can detrimentally impact your credit score. Strive to diminish your debt-to- <br> credit ratio by
                settling existing debts and refraining from incurring new debt whenever feasible.
            </p>

            <h2 style="font-weight:400; font-size:40px;">Cultivate Trade Relationships</h2>
            <p style="color: rgba(0, 0, 0, 0.75); font-weight:400;  font-size: 24px; margin-bottom: 20px; margin-top: -10px;">
            Cultivating favourable credit relationships with Nigerian suppliers and vendors can enhance your business <br> credit score.
            Establish trade lines with reputable partners and honour payment commitments promptly to <br> showcase your credit
            reliability.
            </p>

            <h2 style="font-weight:400; font-size:40px;">Diversify Credit Portfolio</h2>
            <p style="color: rgba(0, 0, 0, 0.75); font-weight:400;  font-size: 24px; margin-bottom: 20px; margin-top: -10px;">
                A diversified credit portfolio encompassing various credit types such as loans, lines of credit, and credit <br> cards
                showcases your proficiency in managing diverse financial obligations. Maintaining a diversified <br> credit mix bolsters your
                credit profile. <br> <br>
                
                By adhering to these tailored tips and embracing sound financial practices, small business owners like <br> yourself can
                progressively enhance their business credit score. This, in turn, paves the way for enhanced <br> growth opportunities and
                expanded financial horizons.
            </p>
        </div>
    </section>

    <section>
        <div style="display: flex; margin-bottom: 120px; padding-bottom: 50px; margin-top: 10px;">
            <img style="height: 618px; width: 632px; margin-left: 150px;" src="{{ url_for('static', filename='/images/lady.jpg')}}" alt="">
            <div style="margin-left:80px; margin-top: 150px">
                <h1 style="font-weight: 700; font-size: 38px;"><strong> Let’s help you achieve <br> your business goal <br> today.</strong>
                </h1>
                <a style="text-decoration: none;" href="{{url_for('other.customer')}}"><button style="background-color:#FDDD32; padding: 12px 24px; border-radius: 10px; border: none; align-items: center; margin-top: -10px; display: flex; cursor: pointer;">Send us a message &ensp;
                    <svg style="align-items: center;" xmlns="http://www.w3.org/2000/svg" width="20" height="18" viewBox="0 0 24 24" fill="none">
                        <path d="M6.4 18L16 8.4V17H18V5H6V7H14.6L5 16.6L6.4 18Z" fill="black" />
                    </svg>
                </button></a>
            </div>
        </div>
    </section>
    

    <div style="color: white;" class="footer-container">
            <div class="types">
                <div>
                    <h1>CapitalHub</h1>
                    <p>Our mission is to empower <br> businesses by providing them <br> with the financial resources they
                        <br>
                        need to achieve their goals.
                    </p>
                </div>
                <div>
                    <h1>Products</h1>
                    <p>Startup Loan</p>
                    <p>Bridge Finance</p>
                    <p>Equipment Financing</p>
                    <p>Micro Loans</p>
                </div>
                <div>
                    <h1>Company</h1>
                    <p>About</p>
                    <p>FAQ</p>
                    <p>Resources</p>
                    <p>Apply for Loan</p>
                </div>
                <div>
                    <p style="margin-top: 30px;">28 Mobos Shola, Lekki Phase 1, <br> Lagos, Nigeria</p>
                    <p style="text-align: end;">support@capitalhub.com</p>
                    <p style="text-align: end;">+234 810 181181</p>
                </div>
            </div>
    
            <div class="socials">
                <img class="social-media" src="{{ url_for('static', filename='images/Speech_bubble (3).jpg')}}" alt="">
                <img class="social-media" src="{{ url_for('static', filename='images/Speech_bubble (4).jpg')}}" alt="">
                <img class="social-media" src="{{ url_for('static', filename='images/flowbite_linkedin-solid.jpg')}}" alt="">
                <img class="social-media" src="{{ url_for('static', filename='images/Speech_bubble (5).jpg')}}" alt="">
            </div>
    
            <div class="copyright">
                <div>
                    <p>@Finzo. All Rights is Reserved.</p>
                </div>
                <div class="terms">
                    <p>Terms</p>
                    <p>Privacy</p>
                    <p>Security</p>
                </div>
            </div>
        </div>
    
</body>
</html>