<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capital Hub</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='homepage.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='signup.css') }}">

    <link href="https://api.fontshare.com/v2/css?f[]=satoshi@700,500,300,400&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container" style="display: flex;"> 
        <div class="discuss" >
            <img style="margin-top: 220px;" src="static\images\african (1).jpg" width="500" height="700" alt="discussion">
        </div>

        <div class="acc-info">
            <div class="account">
                <h1>Sign up to CapitalHub </h1>
                <p style=" line-height: 20px;" >Please fill out your details to get started</p>
            </div>
            <div class="information">
                <p style="color: #F30066; font-size: 12px; font-weight: 400; margin-bottom: 0px">
                    Fields marked with * are mandatory
                </p>


                {% with messages = get_flashed_messages(with_categories=true) %} {% if messages
                    %}
                    <ul>
                        {% for category, message in messages %}
                        <li
                            class="flash-message absolute -top-6 right-0 bg-red-600 p-4 text-blue-light">
                            {{ message }}
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %} {% endwith %}
            
                    <script>
                        // Function to automatically hide flash messages after 3 seconds
                        document.addEventListener("DOMContentLoaded", function () {
                            var flashMessages = document.querySelectorAll(".flash-message");
                            flashMessages.forEach(function (message) {
                                setTimeout(function () {
                                    message.style.display = "none";
                                }, 2000);
                            });
                        });
                    </script>
                <form action="/signup" method="post">
                    <div class="form-row">
                        <div class="form-group">
                            <label for="lastname" class="headers">Last Name <strong style="color: #F30066;">*</strong></label><br>
                            <input id="lastname" class="signup-info" type="text" name="lastname" placeholder="Enter last name" required>
                        </div>
                        <div class="form-group">
                            <label for="firstname" class="headers">First Name <strong style="color: #F30066;">*</strong></label><br>
                            <input id="firstname" class="signup-info" type="text" name="firstname" placeholder="Enter first name" required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group">
                            <label for="middlename" class="headers">Middle Name</label><br>
                            <input id="middlename" class="signup-info" type="text" name="middlename" placeholder="Enter middle name" required>
                        </div>
                        <div class="form-group">
                            <label for="dob" class="headers">Date of Birth <strong style="color: #F30066;">*</strong></label><br>
                            <input id="dob" class="signup-info" type="date" name="dob" required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group">
                            <label for="phonenumber" class="headers">Phone Number <strong style="color: #F30066;">*</strong></label><br>
                            <input id="phonenumber" class="signup-info" type="text" name="phonenumber" placeholder="+234 **** *****" required>
                        </div>
                        <div class="form-group">
                            <label for="email" class="headers">Email <strong style="color: #F30066;">*</strong></label><br>
                            <input id="email" class="signup-info" type="email" name="email" placeholder="johndoe@gmail.com" required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group">
                            <label for="businessname" class="headers">Business Name</label><br>
                            <input id="businessname" class="signup-info" type="text" name="businessname" placeholder="Enter business name" required>
                        </div>
                        <div class="form-group">
                            <label for="businesssector" class="headers ">Business Sector</label><br>
                            <input id="businesssector" class="signup-info " type="text" name="businesssector" placeholder="Enter business sector" required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group">
                            <label for="registrationno" class="headers">Registration No/CAC</label><br>
                            <input id="registrationno" class="signup-info " type="text" name="registrationno" placeholder="Enter registration number/CAC" required>
                        </div>
                        <div class="form-group">
                            <label for="bvn" class="headers">Bank Verification Number (BVN)</label><br>
                            <input id="bvn" class="signup-info" type="text" name="bvn" placeholder="Enter BVN" required>
                        </div>
                    </div>

                    <div class="form-group" >
                        <label for="businessaddress" class="headers">Business Address</label><br>
                        <input id="businessaddress"  style="width: 560px;" class="signup-info" type="text" name="businessaddress" placeholder="Enter business address" required>
                    </div>
                </div>
                <div class="form-row longrow">
                    <div class="form-group longroup">
                        <label for="homeaddress" class="headers">Home Address</label><br>
                        <input id="homeaddress"  style="width: 560px;"class="signup-info" type="text" name="homeaddress" placeholder="Enter home address" required>
                    </div>
                </div>
                    <div class="form-row">
                        <div class="form-group">
                            <label for="state" class="headers">State</label><br>
                            <input id="state" class="signup-info" type="text" name="state" placeholder="Enter state" required>
                        </div>
                        <div class="form-group">
                            <label for="localgovt" class="headers">Local Government</label><br>
                            <input id="localgovt" class="signup-info" type="text" name="localgovt" placeholder="Enter local government" required>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group">
                            <label for="password" class="headers">Password <strong style="color: #F30066;">*</strong></label><br>
                            <input id="password" class="signup-info" type="password" name="password" placeholder="Enter password" required>
                        </div>
                        <div class="form-group">
                            <label for="password2" class="headers">Confirm Password <strong style="color: #F30066;">*</strong></label><br>
                            <input id="password2" class="signup-info" type="password" name="password2" placeholder="Confirm password" required>
                        </div>
                    </div>
                    <div><p style="color: rgba(0, 0, 0, 0.60); font-size: 14px;">CapitaHub will never ask for your password</p></div>

    

                    <br>
                    
                    <button type="submit" style="margin-left: 380px; padding: 15px 70px;" class="signup-btn2">Submit</button>

               </form>

            </div>
        </div>

    </div>
</body>

</html>