<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Capital Hub</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='homepage.css') }}">

  <link href="https://api.fontshare.com/v2/css?f[]=satoshi@700,500,300,400&display=swap" rel="stylesheet">
</head>
<body style=" background-color: #F7F7F7;">
  <div class="container2">

    <div class="discuss2">
      <img style="margin-top: 10px;" src="{{ url_for('static', filename='images/african (1).jpg')}}" width="600" height="900" alt="discussion">
    </div>

    <div class="acc-info2">
        <div class="account2">
            <h1>Signing up to Capital Hub</h1>
            <p style=" line-height: 20px;" >Provide all the necessary details to move to the next stage</p>
        </div>

        {% with messages = get_flashed_messages(with_categories=true) %} {% if messages
          %}
          <ul>
              {% for category, message in messages %}
              <li
                  class="flash-message absolute -top-6 right-0 bg-red-600 p-4 text-blue-light">
                  {{ message }}
              </li>
              {% endfor %}
          </ul>
          {% endif %} {% endwith %}
  
          <script>
              // Function to automatically hide flash messages after 3 seconds
              document.addEventListener("DOMContentLoaded", function () {
                  var flashMessages = document.querySelectorAll(".flash-message");
                  flashMessages.forEach(function (message) {
                      setTimeout(function () {
                          message.style.display = "none";
                      }, 2000);
                  });
              });
          </script>
        <form action="{{ url_for('verification.verification') }}" method="post" enctype="multipart/form-data">
          <input type="hidden" name="email" value="{{ email }}">
        <div class="information2">
            <p style="color: #F30066; font-size: 12px; font-weight: 400; margin-bottom: 0px;">Fields marked with * are mandatory</p>
           

            <div class="form-group2">
              <div style="display: flex; flex-direction: column;">
                <p class="headers3">Passport <strong style="color: #F30066;">*</strong></p>
                <input  style="color:rgba(0, 98, 228, 0.55);" class="signup-info3" type="file" name="passport"
                  placeholder="Browse file">
        
                  <!-- <p class="upload" style="margin-left: 380px;">Drag and drop a file</p> -->
              </div>
            
              <div style="display: flex; flex-direction: column;">
                <p class="headers2">Valid Identification <strong style="color: #F30066;">*</strong></p>
                <input style="color: rgba(0, 0, 0, 0.30);" class="signup-info3" type="file" name="identification"
                  placeholder="Browse file">
              </div>
            </div>

          <div class="form-group2">
            <div style="display: flex; flex-direction: column;">
              <p class="headers3">Tax Statement <strong style="color: #F30066;">*</strong></p>
              <input style="color: rgba(0, 0, 0, 0.30);" class="signup-info3" type="file" name="tax_statement"
                placeholder="Browse file">
            </div>
          
            <div style="display: flex; flex-direction: column;">
              <p class="headers2">Bank Statement <strong style="color: #F30066;">*</strong></p>
              <input style="color: rgba(0, 0, 0, 0.30);" class="signup-info3" type="file" name="bank_statement"
                placeholder="Browse file">
            </div>
          </div>

            <div class="form-group2">
              <div style="display: flex; flex-direction: column;">
                <p class="headers3">Reference <strong style="color: #F30066;">*</strong></p>
                <input style="color: rgba(0, 0, 0, 0.30);" class="signup-info3" type="text" name="reference"
                  placeholder="Name,middle name, last name">
              </div>
            
              <div style="display: flex; flex-direction: column;">
                <p class="headers2">Relationship<strong style="color: #F30066;">*</strong></p>
                <input style="color: rgba(0, 0, 0, 0.30);" class="signup-info3" type="text" name="relationship"
                  placeholder="Enter your relationship">
              </div>
            </div>

          
            <div style="margin-top: 30px;"><p class="headers2">Reference Contact <strong style="color: #F30066;">*</strong></p>
            <input style="width: 250px;" class="signup-info2" type="text" placeholder="Enter phone no" name="reference_contact"></div>

            
            <div  style="margin-top: 50px;">
              <input style="border:1.15px solid #8E98A8; border-radius: 4px ;" type="checkbox" id="terms" name="terms" value="policy"
                required>
              <label for="terms"> I certify that all information provided in this loan application form is true and accurate to the best of my knowledge.
              I understand that providing false information may result in the rejection of my loan application. I authorize the lender
              to verify the information provided.</label><br>
            </div>

            <br>
            <a href="signup.html">
            <button class="signup-btn-2">Back</button></a>  

            <button type="submit" class="signup-btn2-2">Submit</button>
        </div>
      </form>
    </div>
     
  </div>
  
  <div> 
    <p style="text-align: center; ">© All Rights Reserved. TLC Technologies</p>
    <p style="padding-left: 25rem;">Privacy Policy | Terms of Use | Cookies Policy | Legal Statement | Careers | Corporate
      Social Responsibility</p>
    </div>
  
</body>
</html>